* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bdd5ec;
}

#text{
    text-align: center;
}

.formulaire {
    background-color: #0000ff;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 70px;
    box-shadow: 0px 4px 8px #413f3f;
}

.formulaire input, .formulaire select {
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid #ccc;
    font-size: 20px;
    font-family: 'Outfit';
}

.formulaire button {
    display: block;
    padding: 8px;
    background-color: #319214;
    border-radius: 20px;
    color: #fff;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
}

legend{
    color: #ffae00;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    padding: 8px;
    border-radius: 20px;
    opacity: 0.9;
}

fieldset{
    border: 2px solid #ccc;
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 420px){
    .formulaire {
        width: 300px;
    }
}

@media screen and (max-width: 312px){
    .formulaire{
        width: 250px;
        margin-top: 30px;
    }

    legend{
        font-size: 16px;
    }

    .formulaire input, .formulaire select {
        font-size: 13px;
    }
}